{% extends 'dashboard/email/base.html' %}
{% block content %}
    <style>
        body {
            font-family: 'Sarabun', sans-serif;
            font-size: 17px;
            overflow-x: hidden;
            letter-spacing: 0.5px;
            margin: 0;
            line-height: 1.5;
            background-color: #f2f2f2;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            vertical-align: middle;
            border-style: none;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }
        
        @media (max-width: 799.98px) {
            .section {
                width: 100% !important;
            }  
        }
        @media(max-width: 767.98px){
            .get-started{
                width: 90% !important;
            }
        }
        @media(max-width:575.98px){
            .org-width:not(:last-child){
                margin-bottom: 30px !important;
            }
        }

    </style>
    <style>
         @media(max-width:575.98px){
            .social-media-image{
            width: 30px;
            height: 30px;
            
            }
            .main-section-text h1{
                font-size: 50px;
            }
            .main-section-text h2{
                font-size: 22px;
                margin-top: 0px;
                color: #222;
                padding: 20px 0px;
            }
            .main-section-text h6{
                font-size: 14px;
                padding: 0px 20px;
            }
            
            .main-section-content h5{
                font-size: 14px !important;
            }
            .main-section-content p{
                font-size: 10px !important;
            }
            .logo-section img {
                width: 120px !important;
            }
            
            .primary-section span{
                font-size: 16px !important;
            }
            .primary-section{
                margin: 30px !important;
            }
            .started h4{
                margin: 5px !important;
            }
            .get-started{
                display: unset !important;
            }
            .divider{
                border-top: 2px solid gray;
                width: 70%;
                margin: 0 auto !important;
                height: unset !important;
                border-left: unset !important;
            }
            .login , .publish{
                width: auto;
            }
            .org-info{
                display: block !important;
            }
            .org-width{
                width: 100% !important;
                margin-bottom: 30px !important;
            }
       }
       @media(max-width:320px){
            .main-section-text-link a{
                font-size: 10px !important;
            }
       }
    </style>
   
    <div class="main-section " style="background-color: #fff; position: relative; text-align: center;">
    
        <div class="main-section-text" style="margin-bottom: 30px;">
            <h2 style="color: #222; font-weight: 600; margin-top: 0px; margin-bottom: 0px; font-size: 27px; text-align: center; padding: 40px 0px;">Welcome to RXPIN!</h2>
            <h6 style="margin: 0px ; margin-bottom: 15px; text-align: center; font-size: 17px; font-weight:300;">Hello <strong><span>'{{ name }}'</span></strong>, We're happy to have you with us.</h6>
            <h6 style="margin: 0px ; text-align: center; font-size: 17px; font-weight:300;">Your user id for <strong><span>'{{ domain_name }}'</span></strong> has been created successfully.</h6>
            <h6 style="margin: 0px ; text-align: center; font-size: 17px; font-weight:300;">Thank you for being a part of RXPIN!</h6>
        </div>
        <div class="main-section-btn" style="text-align: center;">
            <a href="{{ login_url }}" style=" color: #000; text-decoration: none; display: inline-block; margin: 0 auto; border: 3px solid #05329e; border-radius: 4px; padding: 5px 15px;">
                Let's get started
                <img src="https://i.imgur.com/OTRPXfE.png" style=" width: 12px; margin-bottom: 3px; margin-left: 10px;"> 
            </a>
        
        </div>
        <div class="main-section-text-link" style=" text-align: center; margin-top: 15px;">
            <p style=" font-size: 12px; font-weight: 300;">Button not working? Copy and paste this link to your browser:</p>
            <a href="#" style="word-break: break-word; font-size: 12px; font-weight: 300; color: #05329e; text-decoration: underline;">{{ login_url }}</a>
        </div>
    </div>
    <div class="primary-section" style="background-color: #fff; padding: 15px 20px; margin: 30px 60px; border: 3px solid #05329e; border-radius: 4px;">
        <h5 style=" font-weight: 400; background-color: #fff; font-size: 17px; margin: 0px; word-wrap: break-word;">Login Credentials</h5>
        <h5 style=" font-weight: 400; background-color: #fff; font-size: 17px; margin: 0px; word-wrap: break-word;">Username: {{ username }}</h5>
        <h5 style=" font-weight: 400; background-color: #fff; font-size: 17px; margin: 0px; word-wrap: break-word;">Password: {{ password }}</h5>
    </div>
    <div class="started" style="margin-bottom: 30px;">
        <h4 style="color: #05329e; font-size: 17px; text-align: center;">Here's how to get started.</h4>
        <div class="get-started" style="display: flex; width: 85%; margin: 0 auto;">   
            <div class="login" style="width: 50%; padding: 20px 60px; margin: 0 auto;">
                <div class="get-started-icon" style="width: 40px; margin: 0 auto;">
                    <a href="https://{{ domain }}/admin-panel/admin-login/">
                        <img src="https://i.imgur.com/CAk6dD0.png" style="width: 100%; object-fit: cover; height: 100%;  vertical-align: middle; border-style: none;">
                    </a>
                </div>
                <div class="get-started-title">
                    <a href="https://{{ domain }}/admin-panel/admin-login/" style="text-decoration: none;">
                        <h5 style="font-size: 18.13px; font-weight: 600; color: #000; text-decoration: none; margin: 10px 0px 15px 0px; text-align: center;">Login to Dashboard</h5>
                    </a>
                </div>
                <div class="get-started-text">
                    <p style=" font-size: 12px; text-align: center;">Vist 'admin panel link' and login to dashboard using provided credentials.</p>
                </div>
            </div>
            <div class="divider" style=" border-left: 2px solid gray; height: 150px; margin-top: 30px;">
            </div>
            <div class="publish" style=" width: 50%; padding: 20px 60px; margin: 0 auto;">
                <div class="get-started-icon" style="width: 40px; margin: 0 auto;">
                    <a href="https://{{ domain }}/admin-panel/news/list/">
                        <img src="https://i.imgur.com/x5T7bvD.png" style="width: 100%; object-fit: cover; height: 100%;  vertical-align: middle; border-style: none;">
                    </a>
                </div>
                <div class="get-started-title">
                    <a href="https://{{ domain }}/admin-panel/news/list/" style="text-decoration: none;">  
                        <h5 style="font-size: 18.13px; font-weight: 600; color: #000; text-decoration: none; margin: 10px 0px 15px 0px; text-align: center;">Start Publishing</h5>
                    </a>
                </div>
                <div class="get-started-text">
                    <p style=" font-size: 12px; text-align: center;">Click on "news" on the left panel and start publishing on your brand new site.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}