{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="x-apple-disable-message-reformatting">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            .im{
                color: #000 !important;
            }
            body{
                margin-right: 100px;
                margin-left: 100px;
            }
            @media (max-width: 768px) {
                body{
                margin-right: 15px;
                margin-left: 15px;
            }
            }
        </style>
    </head>
    <body style="font-family: Montserrat,sans-serif; font-size: 14px; line-height: 25px; color: #000;text-align: center;  ">
        <div style="border: 1px solid #ccc;">
            <div style="padding: 20px 20px; background-color: #000; color: #fff; text-align: center;">
                <h1 style="text-transform: uppercase;">RxPIN</h1>
            </div>
            <div style="padding: 20px;">
                <p>Dear <strong>{{ name }}</strong>, We're happy to have you with us.</p>
                <p>Your website <strong>{{ domain_name }}</strong> is live and ready to start publishing.</p>
                <p>Login and start using RXPIN dashboard to manage your site.</p>

               
                <a href="{{ login_url }}" style=" background-color: #007bff; color: white; border: none; padding: 10px 20px; font-size: 16px; cursor: pointer; border-radius: 5px; outline: none; text-decoration: auto">
                    Login
                </a>
                
                <p>
                    Button not working? Copy and paste this link to your browser:
                    <a href="{{ login_url }}" style="word-break: break-word; font-size: 12px; font-weight: 400; color: #05329e; text-decoration: underline;">{{ login_url }}</a>
                    
                </p>
                <div class="primary-section" style="background-color: #fff; padding: 15px 20px; margin: 30px 60px; border: 3px solid #05329e; border-radius: 4px;">
                    <h5 style=" font-weight: 400; background-color: #fff; font-size: 17px; margin: 0px; word-wrap: break-word;">Login Credentials</h5>
                    <h5 style=" font-weight: 400; background-color: #fff; font-size: 17px; margin: 0px; word-wrap: break-word;">Username: {{ username }}</h5>
                    <h5 style=" font-weight: 400; background-color: #fff; font-size: 17px; margin: 0px; word-wrap: break-word;">Password: {{ password }}</h5>
                </div>
                <div class="started" style="margin-bottom: 30px;">
                    <h4 style="color: #05329e; font-size: 17px; text-align: center;">Here's how to get started.</h4>
                    <div class="get-started" style="display: flex; width: 85%; margin: 0 auto;">   
                        <div class="login" style="width: 50%; padding: 20px 60px; margin: 0 auto;">
                            <div class="get-started-icon" style="width: 40px; margin: 0 auto;">
                                <a href="https://{{ domain_name }}.net/system/">
                                </a>
                            </div>
                            <div class="get-started-title">
                                <a href="https://{{ domain_name }}.net/system/" style="text-decoration: none;">
                                    <h5 style="font-size: 18.13px; font-weight: 600; color: #000; text-decoration: none; margin: 10px 0px 15px 0px; text-align: center;">Login to Dashboard</h5>
                                </a>
                            </div>
                            <div class="get-started-text">
                                <p style=" font-size: 12px; text-align: center;">Vist 'admin panel link' and login to dashboard using provided credentials.</p>
                            </div>
                        </div>
                        <div class="divider" style=" border-left: 2px solid gray; height: 120px; margin-top: 30px;">
                        </div>
                        <div class="publish" style=" width: 50%; padding: 20px 60px; margin: 0 auto;">
                            <div class="get-started-icon" style="width: 40px; margin: 0 auto;">
                                <a href="https://{{ domain_name }}.net/system/">
                                </a>
                            </div>
                            <div class="get-started-title">
                                <a href="https://{{ domain_name }}.net/system/" style="text-decoration: none;">  
                                    <h5 style="font-size: 18.13px; font-weight: 600; color: #000; text-decoration: none; margin: 10px 0px 15px 0px; text-align: center;">Start Managing</h5>
                                </a>
                            </div>
                            <div class="get-started-text">
                                <p style=" font-size: 12px; text-align: center;">Browse through RXPIN's dashboard to manage your site. Create news, publish & share!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <strong>ATTENTION:</strong> Please do not reply to this email. This mailbox is not monitored and you will not receive a response.
                </p>
                <p>
                    <strong>Regards, RxPIN</strong><br/>
                    
                </p>
            </div>
            <div style="margin-left:50%;padding: 40px 20px; background-color: #000; color: #fff; text-align: center;">
                <table style="color: #fff; line-height: 25px; font-weight: 200; font-size: 14px; display: flex; justify-content: space-around;">
                    <tbody>
                        <tr>
                            {% comment %} <td>
                                <img src="https://pomelo.prixacdn.net/static/company_new/img/pomelohrm.png" alt="company-logo" style="height: 40px;margin-right:30px">
                            </td> {% endcomment %}
                            <td style="text-align: center;">
                                If you have any questions, feel free message us at <a href="mailto:rxpin@gmail.com" style="color:#fdc71b">rxpin@gmail.com</a><br/>
                                Address: Lalitpur, Bagmati, Nepal<br/>
                                <a href="https://rxpin.prixa.live/privacy-policy/" target="__blank">Terms of use | Privacy Policy</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    
                </p>
            </div>
        </div>
        <p style="text-align: center; color: rgb(74, 75, 83); font-size: 12px;">
            Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved.
        </p>
        
    </body>
</html>